<ng-container *ngIf="{
  lists: lists$ | async
} as myObs">
  <h1>Lists</h1>
  <div class="lists-area">
    <div class="card" *ngFor="let list of myObs.lists">
      <div class="content" (click)="redirectToListDetails(list.id)">
        <mat-icon [style.color]="list.color">{{list.icon}}</mat-icon>
        <h4>{{list.caption}}</h4>
      </div>
    </div>
    <div class="card">
      <div class="content" (click)="redirectToListDetails(-1)">
        <mat-icon class="add-icon">add</mat-icon>
        <h3>New Todo List</h3>
      </div>
    </div>
  </div>
</ng-container>
