.items-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

input[type="checkbox"] + label {
  margin-left: 8px;
}

input[type="checkbox"]:checked:not(.pending) {
  pointer-events: none;
}

input[type="checkbox"]:not(checked) {
  cursor: pointer;
}

input[type="checkbox"].pending {
  accent-color: red;
}

label.pending {
  color: red
}

label.complete {
  text-decoration: line-through;
  opacity: 0.5;
}
