:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

input[type="checkbox"] + label {
  margin-left: 8px;
}

input[type="checkbox"]:checked {
  pointer-events: none;
}

input[type="checkbox"]:not(checked) {
  cursor: pointer;
}

label.done {
  text-decoration: line-through;
  opacity: 0.5;
}
