:host {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  padding: 12px;
  color: crimson;
}

.list-details-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-area {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  min-width: 600px;
  border: 2px solid black;
  border-radius: 6px;
}
.form-area > div {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

input, textarea, select, mat-select {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  min-height: 30px;
}

input:focus, textarea:focus{
  outline: none;
  border: 2px solid black;
}

textarea {
  resize: none;
}

.form-save-area {
  display: flex;
  flex-direction: row;
}
.form-save-area button {
  width: 120px;
  height: 45px;
  background-color: #53b6dc;
  color: #eaeae4;
  font-size: 16px;
  border-radius: 8px;
  align-self: flex-end;
}

.form-save-area button:disabled {
  opacity: 0.5;
}

.form-save-area button:hover:not([disabled]) {
  cursor: pointer;
  background-color: #64cdff;
}

mat-select:hover, select:hover {
  cursor: pointer;
  background-color: #e7dddd;
}

mat-select mat-select-trigger mat-icon {
  padding: 24px 0;
}

mat-icon {
  font-size: 36px;
}

:not(.list-details-form).ng-touched.ng-invalid {
  border: 1px solid crimson;
  background: #eed3d3;
}
