<h2>Edit List Details</h2>
<ng-container *ngIf="{
  action: action$ | async,
  selectedColor: selectedColor$ | async,
  selectedIcon: selectedIcon$ | async
} as myObs">
  <div class="list-details-form" [formGroup]="todoListFrom">
    <div class="form-area">
      <div *ngIf="getControlByFieldName('caption') as field">
        <h4>Caption</h4>
        <input [formControl]="field">
        <app-form-error-display *ngIf="!field.pristine && field.errors" [errors]="field.errors">
        </app-form-error-display>
      </div>

      <div *ngIf="getControlByFieldName('description') as field">
        <h4>Description</h4>
        <textarea [formControl]="field"></textarea>
        <app-form-error-display *ngIf="!field.pristine && field.errors" [errors]="field.errors">
        </app-form-error-display>
      </div>

      <div>
        <h4>Icon:</h4>
        <mat-select class="myPanelClass" [formControl]="getControlByFieldName('icon')">
          <mat-select-trigger>
            <mat-icon [style.color]="myObs.selectedColor">{{myObs.selectedIcon}}</mat-icon>
          </mat-select-trigger>
          <mat-option *ngFor="let icon of icons" [value]="icon" (click)="selectedIcon$.next(icon)">
            <mat-icon [style.color]="myObs.selectedColor">{{icon}}</mat-icon>
          </mat-option>
        </mat-select>
      </div>

      <div>
        <h4>Color:</h4>
        <select #colorSelector [formControl]="getControlByFieldName('color')"
                [style.color]="myObs.selectedColor"
          (change)="selectedColor$.next(colorSelector.value)">
          <option *ngFor="let color of colors" [value]="color" [style.color]="color">{{color}}</option>
        </select>
      </div>

      <div class="form-save-area">
        <button [disabled]="!todoListFrom.valid" (click)="saveTodoList()">Save</button>
      </div>
    </div>
    <app-form-error-display [errors]="todoListFrom.errors">
    </app-form-error-display>

  </div>
</ng-container>
